[Desktop Entry]
Version=1.0
Type=Application
Name=Install fishOS
Comment=Install fishOS using Calamares
Exec=/usr/bin/calamares
Icon=drive-harddisk
Terminal=false
Categories=System;Settings;
StartupNotify=true
